<div class="row">
<div class="span7">
<div id="name">
<img src="<%= bigurl %>" />
<h1><%= @user.username %></h1>
</div>

<h3>Posts</h3>
<% @user.posts.each do |p| %>
	<p><%= link_to p.title, p %></p>
<% end %>

<h3>Comments</h3>
<% @user.comments.each do |comment| %>
	<p><%= comment.content %></p>
<% end %>
</div>

<div class="span5">
	<h2>Tweets</h2>

<ul id="tweets">
<% Twitter.user_timeline(@user.username).first(5).each do |tweet| %>
	<li><%= tweet.text %></li>
<% end %>
</ul>
</div>
</div>