<%= form_for(@post) do |f| %>
	<% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= label_tag(:title, "Title:") %>
	<%= text_field(:post, :title) %><br />
	<%= label_tag(:url, "URL:") %>
	<%= url_field(:post, :url) %><br />

	<input name="commit" type="submit" value="submit">

<% end %>