<h1><a href="<%= post_url(@post) %>"><%= @post.title %></a></h1>
<p>Comments: <%= @post.comments.count %><br/>

</p>
<p><%= link_to 'edit this post', edit_post_path %></p>

<% @post.comments.each do |x| %>
	<div class="comment">
		<p><%= x.content %></p>
	</div>
<% end %>

<hr>

<%= render 'commentform' %>