<%= title(@post.title) %>

<h1><a href="<%= post_url(@post) %>"><%= @post.title %></a></h1>

<p>
	<% if logged_in? && session[:user_id] == @post.user_id %>
	<%= link_to 'edit this post', edit_post_path %> or 
	<%= link_to 'delete this post', @post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
	<% elsif User.find(@post[:user_id]).nil? %>
	<% else %>
	Posted by: <%= link_to User.find(@post[:user_id]).username, user_path(User.find(@post[:user_id]).username) %></a>
	<% end %>

	<p>Comments: <%= @post.comments.count %><br/>
	Facebook Shares: <%= @post.shares(post_url_with_http(@post.url)) %>
	</p>

<hr>


<% @post.comments.each do |x| %>
	<div class="comment">
		<p class="userinfo"><span class="username"><%= link_to x.user.username, user_path(x.user.username) %></span> <span class="timeposted">
			posted <%= distance_of_time_in_words(Time.now, x.created_at, true) %> ago</span></p>
		<p><%= x.content %></p>
	</div>
<% end %>

<hr>

<% if logged_in? %>
<%= render 'commentform' %>
<% else %>
You must <%= link_to "Login", login_path %> or <%= link_to "Register", register_path %> to leave a comment
<% end %>