<h1><a href="<%= @post.url %>"><%= @post.title %></a></h1>
<p>Comments: <%= @post.comments.count %><br/>
	Upvotes: <%= @post.votes.count(:conditions => "direction == 1") %><br/>
	Downvotes: <%= @post.votes.count(:conditions => "direction == -1") %>
</p>
<p><%= link_to 'edit this post', edit_post_path %></p>

<% @post.comments.each do |x| %>
	<div class="comment">
		<p><%= x.content %></p>
	</div>
<% end %>

<hr>

<%= render 'commentform' %>